*, *::after, *::before{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #ecf3f0;
}
ul{
   padding: 0 !important;
}
.link{
 /* color:#6c757d; */
 color: #fff;
 margin: 10px;
  font-size: 24px;
   text-decoration: none;
}
.link:hover{
   color: #54575a;
}

.task{
   color: #0f5132;
   background-color: #d1e7dd;
   border-radius: 5px;
   display: flex;
    align-items: center;
    width: auto;
   padding: 0.5rem 1rem;
   border: 1px solid rgba(0,0,0,.125);
   white-space:normal;
}
.button{
   cursor: pointer;
   margin: 0 5px;
  
}
.rigt{
   margin-left: auto;
}

.notes{
  
   margin: 20px 0;
  
}
.wraper{
   color: #0f5132;
   background-color: #d1e7dd;
   padding: 0.5rem 1rem;
   border: 1px solid rgba(0,0,0,.125);
   border-radius: 5px;

}
.wraper-flex{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

}
.note{
   background-color: #e8f2ee;
   border-radius: 5px;
   padding: 0.5rem 1rem;
   border: 1px solid rgba(0,0,0,.125);
   margin: 10px 0;
}
.note__title{
  
   display: flex;
    align-items: center;
    width: auto;
}
.calendar{
   display: flex;
   justify-content: center;
   align-items: center;
}
.note__text{

}
.note__date{
   font-size: 14px;
   font-weight: 600;
}
.day{
 flex: 0 0 65px;
}
.btn-hover{
cursor: pointer;
}

.error{
   color:red;
}
.logo{
   width: 40px;
}
.clide__text{
   color: #000;
}
.navbar-nav{
 flex-direction: row !important;
}
